.footer-class{
    display: flex;
    flex-direction: column;
    /* width: 1200px; */
    height: 150px;
    justify-content: space-between;

    /* background-color: red; */
}
.icons{
    display: flex;
    /* flex-direction: row; */
    padding-top:0.10em;
    padding-left:66.5em;
    padding-bottom:1em;
    gap: 3em;
    cursor:pointer;
}
.logo-text{
    padding-top:0.40em;
}
/* @media (max-width: 600px) {
    footer {
        flex-direction: column;
    }
} */